# ==========================
# Telegram
# ==========================
BOT_TOKEN=

# ==========================
# Admin
# ==========================
ADMIN_IDS=

# ==========================
# AI APIs
# ==========================
OPENAI_API_KEY=

GEMINI_API_KEY=

CLAUDE_API_KEY=

DEEPSEEK_API_KEY=

GROK_API_KEY=

# ==========================
# Stripe
# ==========================
STRIPE_SECRET_KEY=

# ==========================
# Bot Settings
# ==========================
DEFAULT_MODEL=gemini

DAILY_FREE_LIMIT=20

PREMIUM_DAILY_LIMIT=1000

# ==========================
# Database
# ==========================
DATABASE_NAME=database/bot.db

# ==========================
# Logs
# ==========================
LOG_LEVEL=INFO

# ==========================
# Referral
# ==========================
REFERRAL_BONUS=1

# ==========================
# Premium
# ==========================
PREMIUM_PRICE=15
PREMIUM_CURRENCY=USD
