# =========================
# Telegram
# =========================
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN

# =========================
# AI API Keys
# =========================
OPENAI_API_KEY=YOUR_OPENAI_API_KEY

GEMINI_API_KEY=YOUR_GEMINI_API_KEY

CLAUDE_API_KEY=YOUR_CLAUDE_API_KEY

DEEPSEEK_API_KEY=YOUR_DEEPSEEK_API_KEY

GROK_API_KEY=YOUR_GROK_API_KEY

# =========================
# Database
# =========================
DATABASE_NAME=database/bot.db

# =========================
# Limits
# =========================
DEFAULT_MODEL=gemini

DAILY_FREE_LIMIT=20

PREMIUM_DAILY_LIMIT=1000

# =========================
# Premium
# =========================
PRO_PRICE=9.99

PREMIUM_PRICE=19.99

ENTERPRISE_PRICE=49.99

PREMIUM_CURRENCY=USD

# =========================
# Referral
# =========================
REFERRAL_REWARD=1
